.list{
    color: #fff;
    margin: 20px 30px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.list button{
    border-radius: 5px;
    border: 0;
    background-color: aquamarine;
    cursor: pointer;
    margin-left: 180px;
  }



.quantity{
    background: orange;
    padding: 5px;
    border-radius: 5px; 
    margin: 0px 10px;
} 
